/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 $white: #ebe7e4;
 $black: #000000;

 $green: #628029;

 $margin: 5%;
 $marginH: 2%;

@import "compass/reset";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/typography/links/link-colors";

#header {
		background: $black;
		text-align: left;
		margin-top: -40px;
		padding: 20px;
  		@include single-box-shadow;
		h1 {
		color: $white;
		font-size: 70px;
		  @include single-text-shadow(2px, 2px);
		margin: 40px 0 0 $marginH;
		}
		h2 {
		color: $black;
		margin: 10px 0 30px $marginH + 4%;
		display:inline-block;
		font-weight: bold;
		}
		#nav {
		margin-top: 30px;
			a {
			color: $white;
			margin: $marginH;
			font-weight: normal;
			text-decoration: none;
				&:hover {
				font-weight: bold;
				text-decoration: underline;}
				&:active {
				font-weight: bold;
				text-decoration: underline;}
			}
		}
	}

a {
color: $green;
margin: $margin;
font-weight: bold;
}

p {
color:  $black;
margin: 10px 0 10px 10px;

	a {
	color: $green;
	margin: 0 0 0 0;
	font-weight: normal;
	}
}

html {
height: 100%;
}

body {
background: url("herbs.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')"; }

body.aloe {
background: url("aloe.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')"; }

#wrapper{  
   width:800px;  
   margin:0 auto;
   text-align:left; 
   positiion: relative;  
}  

.grad {
	margin: 3%;
	padding: 1%;
	background-color: $white;
	@include border-radius(10px, 10px);
  	@include single-box-shadow;
}

