<body class="aloe">
<%= render 'layouts/navigation' %>

<div id="wrapper">

<div class="grad">
<h1>Aloe</h1>
<p>Aloe is a perennial succulent plant.  It can grow to heights as tall as four feet.  It's leaves can grow to lengths of 36 inches long.  Believe it or not, Aloe is part of the Lily family.  It was discovered in Northern Africa.</br>
Aloe Vera plants look similar to a small cacti, with thick dark green leaves, but they are soft and supple.  The gel located inside of the leaves is thin and clear.</br>
Aloe is 99% water and contains glycoproteins and polysaccharides.  Glycoproteins stop inflammation and pain by speeding up the healing process. Polysaccharides encourage skin repair and growth.  These substances stimulate the immune system.</p></br>
<p>Parts Used: Leaves, Pressed juice, Gel</p></br>
<p>Uses for Aloe:</p>
<table width="100%" cellpadding="0" cellspacing="10" border="0">
    <tr>
        <td width="50%" valign="top">
            <p>
            Burns</br>
            Skin Conditions</br>
            Diabetes</br>
            Dental Cavities</br>
            Alcohol-induced Liver Disease</br>
            Hair growth</br>
            Aftershave</br>
            Antiwrinkle and Antiaging</br>
            Scarring and Stretch marks</br>
            Skin moisturizer</br>
            Reduce dark spots
            </p>
        </td>
        <td width="50%" valign="top">
            <p>
            Detox</br>
            Constipation</br>
            Indigestion</br>
            Heartburn</br>
            Stomach ulcers</br>
            Hemorrhoids</br>
            Congestion</br>
            Urinary infections</br>
            Colitis</br>
            Prostate problems</br>
            Rheumatism pain and arthritis
            </p>
        </td>
    </tr>
</table>
</div>
</div>
</body>
