<body class="aloe">
<%= render 'layouts/navigation' %>

<div id="wrapper">

<div class="grad">
<h1>Aloe</h1>
<p>Aloe is a perennial succulent plant.  It can grow to heights as tall as four feet.  It's leaves can grows to lengths of 36 inches long.  Believe it or not, Aloe is part of the Lily family.  It was discovered in Northern Africa.
Aloe Vera plants look similar to a small cacti, with thick dark green leaves, but they are soft and supple.
The gel located inside of the leaves is thin and clear.</p>
</div>
</div>
</body>
