<body class="catnip">
<%= render 'layouts/navigation' %>

<div id="wrapper">

<div class="grad">
<h1>Catnip</h1>
<p>Catnip is a strong smelling, branching, perennial.  It has heart shaped or oval leaves with white or blue flower clusters.</br>
Catnip has a long history, having been cultivated since ancient times.</p></br>
<p>Uses for Catnip:</p>
<table width="100%" cellpadding="0" cellspacing="10" border="0">
    <tr>
        <td width="50%" valign="top">
            <p>
            Insomnia</br>
            Migraines</br>
            Anxiety</br>
            Arthritis</br>
            Hemorrhoids
            </p>
        </td>
        <td width="50%" valign="top">
            <p>
            Cold</br>
            Flu</br>
            Fever</br>
            Hives</br>
            Upset stomach</br>
            Treatment of worms
            </p>
        </td>
    </tr>
</table>
</div>
</div>
</body>
