<body class="chamomile">
<%= render 'layouts/navigation' %>

<div id="wrapper">

<div class="grad">
<h1>Chamomile</h1>
<p>Chamomile is a potent, gentle and effective healing herb. Though small in size, Chamomile is huge for home herbalists.</p>
<p>Chamomile flowers have antifever and antiinflammatory agents.  It also offers support for the nervous system and the digestive system.</p>
<p>Chamomile tea can send you into a restful sleep within ten minutes of retiring.  The tea can be added to bathwater as well for relaxation and meditation time.</p></br>
<p>Parts Used: Flower, Leaf</p></br>
<p>Uses for Chamomile:</p>
<table width="100%" cellpadding="0" cellspacing="10" border="0">
    <tr>
        <td width="50%" valign="top">
            <p>
            Colic</br>
            Muscle spasms</br>
            Inflammation</br>
            </p>
        </td>
        <td width="50%" valign="top">
            <p>
            Indigestion</br>
            Tension</br>
            Infection</br>
            </p>
        </td>
    </tr>
</table>
</div>
</div>
<%= render 'layouts/footer' %>
</body>