<body class="plantain">
<%= render 'layouts/navigation' %>

<div id="wrapper">

<div class="grad">
<h1>Plantain</h1>
<p>Plantain is truly a gift to mankind.  Plantain is an excellent emergency food because it is so nutrient rich.  It contains protein, starch and many vitamins.  Plantain is a wonderful wound healer and shortens recovery time.  When used as a poultice, the herb may be placed over the problem area.</br>
    Plantain has such amazing drawing properties that it can even be used to pull out a sliver that is too deep.</br>
The nutrients in plantain stimulate the liver which in turn cleanses the blood.</br>
Plantain has styptic and hemostatic properties which can check bleeding.</p></br>
<p>Parts Used: Seed, Root, Leaf</p></br>
<p>Uses for Plantain:</p>
<table width="100%" cellpadding="0" cellspacing="10" border="0">
    <tr>
        <td width="50%" valign="top">
            <p>
            Poor digestion in the liver</br>
            Poor assimilation in the liver</br>
            Jaundice</br>
            Hepatitis</br>
            </p>
        </td>
        <td width="50%" valign="top">
            <p>
            Insect bites</br>
            Insect stings</br>
            Boils</br>
            Skin Eruptions</br>
            </p>
        </td>
    </tr>
</table>
</div>
</div>
</body>