<body class="aloe">
<%= render 'layouts/navigation' %>

<div id="wrapper">

<div class="grad">
<h1>Rosemary</h1>
<p>Aloe, <a href="#">consectetur</a> adipiscing elit. Nullam volutpat orci vel arcu volutpat imperdiet. In eget libero leo, vel iaculis lacus. Mauris metus lectus, luctus vitae ornare congue, ultrices et velit. Etiam a magna ac urna tincidunt vestibulum. Nunc sit amet sapien urna, sed fringilla tortor. Nunc in purus eget augue convallis condimentum nec in leo. Morbi feugiat libero ac nulla aliquam luctus. Proin bibendum adipiscing tincidunt. </p>

<%= link_to 'New Guide', new_guide_path %>

</div>
</div>
</body>
