<body class="rosemary">
<%= render 'layouts/navigation' %>

<div id="wrapper">

<div class="grad">
<h1>Rosemary</h1>
<p>Rosemary resembles a sprig of evergreen.  It has a pungent flavor and a wonderful smell.</br>
Rosemary improves memory and concentration.  It is well known as a wondrous brain tonic.  A mild and uplifting stimulant, Rosemary enhances the cellular uptake of oxygen.</br>
Rosemary contains high levels of rosmaricine which acts as a mild analgesic.  It also contains antioxidants.  This makes it useful for treating inflammation.</br>
Rosemary can be used as a digestive aid facilitating the digestion of fats and starches.</p></br>
<p>Parts Used: Leaf, Essential oil</p></br>
<p>Uses for Rosemary:</p>
<table width="100%" cellpadding="0" cellspacing="10" border="0">
    <tr>
        <td width="50%" valign="top">
            <p>
            Headaches</br>
            Migraines</br>
            Depression</br>
            </p>
        </td>
        <td width="50%" valign="top">
            <p>
            Circulation</br>
            Low blood pressure</br>
            Arthritis</br>
            Joint damage</br>
            </p>
        </td>
    </tr>
</table>
</div>
</div>
<%= render 'layouts/footer' %>
</body>